body { 
  font-family: 'IBM Plex Sans Thai Looped';
  margin: 0px;
  background-color: #e2ffff;
  color: #00512b;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-items: center;
  caret-color: transparent;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-size: cover;
  background-image: url(background.png);
  background-repeat: no-repeat;
  z-index: -1;
}
body.dark::before {
  background-image: url(background-dark.png)
}
.header, .footer {
  background: linear-gradient(to right, #00de75, #00c9fd);
  padding: 25px;
  color: white;
  font-size: 36px;
  line-height: 15px;
  z-index: 10;
}
.header {
  box-shadow: inset 0 -5px 10px rgba(255, 255, 255, 0.5);
}
.footer {
  box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.5);
}
.header {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.footer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.header > div {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.type {
  display: flex;
  flex-direction: row;
  gap: 10px !important;
}
.type > div {
  font-size: 16px;
  border: white 1px solid;
  padding: 10px;
  border-radius: 25px;
}


.web {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
}
.tabs-w {
  position: relative;
  overflow: hidden;
}
.tabs {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 5px;
  overflow-y: auto;
  scroll-behavior: smooth;
  z-index: 1;
}
.tabs::-webkit-mask-image{ background-color: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%); }
.tabs::-webkit-mask-repeat { background: no-repeat; }
.tabs::-webkit-mask-size{ background-size: 100% 100%; }
.tabs::-webkit-scrollbar { 
  opacity: 0; 
  height: 0;
}
.tabs > div:not(:first-child) {
  background: linear-gradient(to right, #00de75, #00c9fd);
  padding:15px;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  margin-left: 3px;
  white-space: nowrap;
  height: 20px;
  line-height: 20px;
  transition: padding 0.5s ease;
  box-shadow: inset 0 -5px 10px rgba(255, 255, 255, 0.5);
}
.tabs > div:not(:first-child):hover {
  padding-left: 25px;
  padding-right: 25px;
}
.dropdown-btn {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  background: linear-gradient(to right, #00de75, #00c9fd);
  padding:15px;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  gap: 10px;
  display:flex;
  flex-wrap: wrap;
  cursor: pointer;
  border: none;
  width:max-content;
  position: relative;
  z-index: 1;
  line-height: 20px;
  box-shadow: inset 0 -5px 10px rgba(255, 255, 255, 0.5);
}
.dropdown-btn::before {
  background-color: white;
  border-radius: 30px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.25s ease, height 0.25s ease;
  width: 0px;
  height: 0px;
  opacity: 50%;
}
.dropdown-btn:hover::before {
  width: 100%;
  height: 100%;
}
.filter {
  transition: transform 0.5s ease; 
  background: linear-gradient(to right, rgba(0, 222, 118, 0.5), rgba(0, 201, 253, 0.5));
  transform: translateY(-1000px);
  position: absolute;
  padding: 15px;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 5px;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 10;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -5px 10px rgba(255, 255, 255, 0.5);
}
.filter.show {
  transform: translateY(50px);
  background: linear-gradient(to right, rgba(0, 222, 118, 0.75), rgba(0, 201, 253, 0.75));
  backdrop-filter: blur(5px);
}
.checkbox {
  width: fit-content;
  align-items: center;
  gap: 5px;
}
.checkbox input {
  display: none;
}
.checkbox .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.checkbox .checkmark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00de75;
  width: 0px;
  height: 0px;
  border-radius: 3px;
  opacity: 0;
  transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease;
}
.checkbox input:checked + .checkmark::after {
  opacity: 1;
  width: 10px;
  height: 10px;
}
.label, .label-hili {
  padding: 5px;
  border-radius: 15px;
  size: 1;
  cursor: pointer;
  transition: transform 0.25s ease, font-weight 0.25s ease;
}
.label-hili {
  color: yellow;
}
.label:hover, .label-hili:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.gallery { 
  margin-top: 10px;
  column-count: 4;
  column-gap: 10px;
  }

.item {
  backdrop-filter: blur(3px);
  border-radius: 25px;
  break-inside: avoid;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #008bad00;
  scale: 1;
  transition: box-shadow 0.25s ease, border 0.25s ease, color 0.25s ease, scale 0.25s ease, background-color 0.25s ease;
}
.item.w-pad {
  padding-bottom: 10px;
}
.item {
  background-color:#ffffff80;
  color: #00512b;
  box-shadow: 0 3px 5px #0092b640;
}
.item.star {
  background-color:#ffffff80;
  color: #6c3d00;
  box-shadow: 0 3px 5px #0092b640;
}
.item:hover, .item-star:hover {
  scale: 1.01;
}

.item img { 
  display: block; 
  border-radius: 15px;
  width: 100%;
}
.fancybox__image {
  border-radius: 15px;
  box-shadow: 0 0 50px #00000080;
}
.caption {
  font-size: 18px;
  margin-top: 5px;
  padding: 0 10px 10px 10px;
}
.cat {
  background: linear-gradient(to right, #00de75, #00c9fd);
}
.cat-at {
  background: linear-gradient(to right, #008ffd, #0037fd);

}
.cat-hash {
  background: linear-gradient(to right, #4133bc, #8e3eff);
}
.cat-thai {
  background: linear-gradient(to right, #fd00b5, #b000c7);
}
.cat-hili {
  background: linear-gradient(to right, #e68200, #fca704);
  font-weight: bold;
}
.cat, .cat-at, .cat-hash, .cat-thai, .cat-hili {
  margin: 10px 0 0 10px;
  padding: 5px;
  line-height: 15px;
  border-radius: 50px;
  color: white;
  display: inline-block;
  transition: background 0.25s ease;
}
a {
  color: white;
  text-decoration: none;
  display: block;
}
.noresult {
  margin-top: 25px;
  text-align: center;
  font-size: 36px;
  opacity: 50%;
  color: #555;
}


body::-webkit-scrollbar {
  width: 15px;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom, #00de75, #00c9fd);
  border-radius: 15px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
}
body::-webkit-scrollbar-track{
  opacity: 0;
}


.buttons {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  z-index: 11;
}
.buttons > div > div > button > span {
  font-weight: bold;
  color: white;
  line-height: 12px;
}
.gotop, .themebtn, .word {
  width: 3.5em;
  height: 3.5em;
  border-radius: 99px;
  border: none;
  cursor: pointer;
  transform: scale(1);
  background: linear-gradient(to right, rgba(0, 222, 117, 0.75), rgba(0, 201, 253, 0.75));
  transition: transform 0.25s ease;
  backdrop-filter: blur(3px);
  padding: 0;
  box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.5);
}
.word {
  width: 8em;
}
.word > span {
  color: white;
  font-size: 20px;
  font-family: 'IBM Plex Sans Thai Looped';
  line-height: 1;
}
.gotop:hover, .themebtn:hover, .word:hover {
  transform: scale(1.125);
}
.gotop::before, .themebtn::before, .word::before {
  background-color: white;
  border-radius: 99px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.25s ease, height 0.25s ease;
  width: 0px;
  height: 0px;
  opacity: 50%;
}
.gotop:hover::before, .themebtn:hover::before,  .word:hover::before {
  width: 100%;
  height: 100%;
}
.uppy, .themeicon{
  filter: invert(1);
}

@media (max-width: 768px) {
  .gallery { 
    column-count: 1;
    column-gap: 10px;
  }
  .header > div {
  display: flex;
  align-content: center;
  }
  h1 {
  font-size: 56px;
  line-height: 48px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .gallery { 
    column-count: 3;
    column-gap: 10px;
  }
}

body.dark { 
  background-color: #0e0e0e;
}
body.dark .item {
  background-color:#1a1f1f80;
  color: #c0ffe8;
  box-shadow: 0 3px 5px #00000080;
}
body.dark .item.star {
  background-color:#1a1f1f80;
  color: #fffac5;
  box-shadow: 0 3px 5px #00000080;
}