body { 
  font-family: 'IBM Plex Sans Thai Looped';
  margin: 0px;
  background-color: #f5ffff;
  color: #00512b;
  overflow-y: auto;
}
.header {
  background: linear-gradient(to right, #00de75, #00c9fd);
  padding: 5px;
  padding-left: 25px;
  color: white;
  font-size: 36px;
  line-height: 15px;
}
.header > div {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.web {
  margin: 10px;
}
.filter {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to right, #00de75, #00c9fd);
  padding: 15px;
  justify-content: center;
  border-radius: 25px;
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  gap: 25px;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}
.checkbox input {
  display: none;
}
.checkbox .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.checkbox .checkmark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00de75;
  width: 0px;
  height: 0px;
  border-radius: 3px;
  opacity: 0;
  transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease;
}
.checkbox input:checked + .checkmark::after {
  opacity: 1;
  width: 10px;
  height: 10px;
}



.gallery { 
    column-count: 4;
    column-gap: 10px;
  }
.item { 
  border: 1px solid #00de7580; 
  border-radius: 25px;
  padding: 10px;
  break-inside: avoid;
  margin-bottom: 10px;
  color: #00512b;
  scale: 1;
  transition: border 0.25s ease, color 0.25s ease, scale 0.25s ease;
}
.item:hover {
  border: 1px solid #00c9fd80;
  color: #006781;
  scale: 1.01;
}
.item img { 
  display: block; 
  border-radius: 15px;
  width: 100%;
}
.caption {
  font-size: 18px;
}
.cat {
  background: linear-gradient(to right, #00de75, #00c9fd);
  padding: 5px;
  border-radius: 25px;
  color: white;
  display: inline-block;
  margin-top: 10px;
  transition: background 0.25s ease;
}


body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #00de7580, #00c9fd80);
}
body::-webkit-scrollbar-track {
  background-color: rgba(#fff0);
}



.gotop {
  width: 5em;
  height: 5em;
  border-radius: 25px;
  border: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  background: linear-gradient(to right, #00de75, #00c9fd);
  transition: width 0.25s ease, height 0.25s ease;
}
.gotop:hover {
  width: 5.25em;
  height: 5.25em;
}
.gotop::before {
  background-color: white;
  border-radius: 15px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  opacity: 25%;
  transition: width 0.25s ease, height 0.25s ease;
}
.gotop:hover::before {
  width: 75%;
  height: 75%;
}
.uppy {
  filter: invert(1);
}


@media (max-width: 769px) {
  .gallery { 
    column-count: 2;
    column-gap: 10px;
  }
  .header > div {
  display: grid;
  grid-template-rows: repeat(2,25%);
  align-content: center;
}
}
@media (min-width: 769px) and (max-width: 1024px) {
  .gallery { 
    column-count: 3;
    column-gap: 10px;
  }
}